body{
    background-color: #16365d;
    color: white;
    font-family: Arial, sans-serif;
}

.underline {
    text-decoration: underline;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}

.oy{
    color: red;
   text-align: center;
}

.y{
    color: yellow;
}

.b{
    color: blue;
}

.g{
    color: rgb(0, 255, 0);
}

.bai {
    color:fuchsia
}
.bl{
    color: black;
}

.ft {
    background-color: black;
    width: 50%;
    height: 55px;
    border-left: 1px solid red;
    border-top: 1px solid red;

}

.bgr{
    background-color: rgb(0, 255, 0);
}

.blank {
    background-color: black;
    border-left: 1px solid red;
    border-right: 1px solid yellow;
    padding: 15px;
}

.picture{
    border-bottom: 1px solid yellow;
    width: 300px;
}

.br {
    background-color: red;
}

.insert {
    margin-top: 0;
}